.window {
  max-height: 100vh;
  display: grid;
  grid-template-areas:
    "chatList chatWindow info"
    "chatList messageBox info";
  grid-auto-columns: 360px 1fr;
  grid-template-rows: minmax(0, 1fr) 60px;

  .chatList {
    border-right: 1px solid #efefef;
    width: 360px;
    padding: 10px;
    grid-area: chatList;

    h2 {
      margin: 0px;
      padding: 0px;
      margin-bottom: 20px;
    }
  }

  .messagesArea {
    grid-area: chatWindow;
  }

  .messageBoxArea {
    grid-area: messageBox;
  }
}
